<%- include('./components/head.ejs') -%>

    <div class="container margin-top30">
        <h1>Manage</h1>
        <p>Het overzicht van plekken</p>
        <section>
            <ul>
                <li class="managedata">
                  <div>
                    <p><%= reservation.email %></p>
                    <p>Kenteken: <%= reservation.kenteken %></p>
                  </div>
                  <p>Om: <%= reservation.time %></p>
                </li>
            </ul>
        </section>
    </div>

<%- include('./components/footer.ejs') -%>

