<%- include('./components/head.ejs') -%>

<div class="container margin-top30">
  <h1>Manage</h1>
  <% if (reservation.kenteken) { %>
  <p>Het overzicht van plekken</p>
  <section>
    <ul>
      <li class="managedata">
        <form action="/delete" method="post" class="managePage" name="checkTime" id="checkTime">
          <div>
              <p><%= reservation.email %></p>
              <p>Kenteken: <%= reservation.kenteken %></p>
              <input type="number" name="code" value="<%= reservation.code %>" hidden>
          </div>
          <div>
            <p>Om: <%= reservation.time %></p>
            <input type="submit" value="Verwijder" id="verwijderBtn">
          </div>
        </form>
      </li>
    </ul>
  </section>
  <%} else {%> <h3>Er zijn geen reserveringen meer met deze kenteken + e-mail combinatie</h3> <%}%>
</div>

<%- include('./components/footer.ejs') -%>