<%- include('./components/head.ejs') -%>

    <div class="container margin-top30">
        <h1>Manage</h1>
        <p>Het overzicht van plekken</p>
        <section>
          <% reservationdata.forEach(function(Reservation) { %>
            <li class="managedata">
              <div>
                <p><%= Reservation.email %></p>
                <p>Kenteken: <%= Reservation.kenteken %></p>
              </div>
              <p>Om: <%= Reservation.time %></p>
            </li>
            <% });%>
        </section>
    </div>

<%- include('./components/footer.ejs') -%>

